<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header_resource">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link type="text/css" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/current/index.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/common/public.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/current/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/common/formSelects-v4.css}">
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils/AlertUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils/CommonUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/current/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils/RequestUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils/DatePicker/calendar.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils/DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/formSelects-v4.js}"></script>
</div>
