<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="page">
 <div id="laypage"></div>
 <script th:inline="javascript">
  layui.use(['laypage','form'], function(){
   var laypage = layui.laypage;
   var form = layui.form;
   laypage.render({
    elem: 'laypage'
    ,count: [[${page.total}]]
    ,curr: [[${page.pageNum}]]
    ,limit:[[${page.pageSize}]]
    ,limits: [10,20,50,100,200,500,1000]
    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
    ,jump: function(obj,first){
     if (!first){
      var pageNum=obj.curr;
      var pageSize= obj.limit;
      $("#pageNum").val(pageNum);
      $("#pageSize").val(pageSize);
      $(".layui-form").submit();
     }
    }
   });
   // form.on('checkbox(allSelect)', function (data) {
   //  $("input[name='check']").prop("checked",data.elem.checked);
   //  form.render("checkbox");
   // });
  });

  $("#allSelect").click(function (){
   var value = $("#allSelect").prop("checked");
   $("input[name='check']").prop("checked",value);
  });


  function getAllSelectIds() {
   var ids=[];
   $("input[name='check']").each(function () {
    if ($(this).prop('checked')){
     var id=$(this).val();
     if (id!=null&&id!='') {
      ids.push(id);
     }
    }
   });
   return ids;
  }

 </script>
</div>

