<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>图库管理后台</title>
    <meta content="图库管理系统" name="description"/>
    <meta name="renderer" content="webkit">
    <div th:include="common/header_resource::header_resource"></div>
</head>
<body>
<form class="layui-form"  onsubmit="return sysUserSaveOrUpdate()" id="form">
    <br>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
       <div class="layui-input-inline">
           <input type="text" name="nickname" required lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
       </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
       <div class="layui-input-inline">
           <input type="text" name="username"  required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
       </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
        <select name="roleId">
            <option th:each="role:${roleList}" th:value="${role.id}" th:text="${role.roleName}" th:if="${role.roleCode!=adminRole}"></option>
        </select>
        </div>
    </div>
    <div class="layui-form-item" shiro:hasPermission="sysUser.add">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    var form = layer.form;
    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });

    form.render();
</script>
</body>
</html>
