<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>图库管理后台</title>
    <meta content="图库管理系统" name="description"/>
    <meta name="renderer" content="webkit">
    <div th:include="common/header_resource::header_resource"></div>
</head>
<body>
<form class="layui-form"  onsubmit="return configurationSaveOrUpdate()" id="form2" th:object="${configuration}">
    <br>
    <input type="hidden" th:field="*{id}">
    <div class="layui-form-item">
        <label class="layui-form-label">常量名称</label>
       <div class="layui-input-inline">
           <input type="text" th:field="*{name}" required lay-verify="required" placeholder="常量名称" autocomplete="off" class="layui-input input2">
       </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">常量CODE</label>
       <div class="layui-input-inline">
           <input type="text" th:field="*{code}"  required lay-verify="required" placeholder="常量CODE" autocomplete="off" class="layui-input input2">
       </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">常量值</label>
        <div class="layui-input-inline">
            <input type="text" th:field="*{value}" th:title="*{value}"  placeholder="常量值" autocomplete="off" class="layui-input input2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否展示</label>
        <div class="layui-input-inline" style="width: 260px">
            <select th:name="display">
                <option th:value="0" th:text="否" th:selected="*{display==0}"></option>
                <option th:value="1" th:text="是" th:selected="*{display==1}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    var form = layer.form;
    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });

    form.render();
</script>
</body>
</html>
